<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<header>
    <ul style="list-style: none">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('security_logout') }}">Deconnexion</a>
        {% else %}
            <a href="{{ path('security_login') }}">Connexion</a><a href="{{ path('user_register') }}" style="margin-left: 10px">Inscription</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
           <img src="{{ asset('/images/profils/admin.jpg') }}" alt="Image du profil"/> <a href="{{ path('admin') }}">Administration du site</a>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_PRO') %}
                    <img src="{{ asset('/images/profils/naturaliste.jpg') }}" alt="Image du profil"/><a href="{{ path('user_profil') }}">Profil</a>
                    {% elseif is_granted('ROLE_PAR') %}
                        {% if app.user.observationsNumber < 10 %}
                            <img src="{{ asset('/images/profils/particulier1.jpg') }}" alt="Image du profil"/>
                            {% elseif app.user.observationsNumber >= 10 and app.user.observationsNumber < 50 %}
                                <img src="{{ asset('/images/profils/particulier2.jpg') }}" alt="Image du profil"/>
                                {% else %}
                                    <img src="{{ asset('/images/profils/particulier3.jpg') }}" alt="Image du profil"/>
                            {% endif %}
                        <a href="{{ path('user_profil') }}">Profil</a>
                {% endif %}
        {% endif %}
    </ul>
</header>
<body>
{% block title %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
<footer>
</footer>
</html>
