<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>
<header>
    <ul style="list-style: none">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('security_logout') }}">Deconnexion</a>
        {% else %}
            <a href="{{ path('security_login') }}">Connexion</a><a href="{{ path('user_register') }}" style="margin-left: 10px">Inscription</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}"><img src="{{ asset('/images/profils/admin.jpg') }}" alt="Image du profil"/></a>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_PRO') %}
                    <a href="{{ path('user_profil') }}"><img src="{{ asset('/images/profils/naturaliste.jpg') }}" alt="Image du profil"/></a>
                    {% elseif is_granted('ROLE_PAR') %}
                        <a href="{{ path('user_profil') }}">
                            {% if app.user.observationsNumber < 10 %}
                                <img src="{{ asset('/images/profils/particulier1.jpg') }}" alt="Image du profil"/>
                            {% elseif app.user.observationsNumber >= 10 and app.user.observationsNumber < 50 %}
                                <img src="{{ asset('/images/profils/particulier2.jpg') }}" alt="Image du profil"/>
                            {% else %}
                                <img src="{{ asset('/images/profils/particulier3.jpg') }}" alt="Image du profil"/>
                            {% endif %}
                        </a>
                {% endif %}
        {% endif %}
    </ul>
</header>
<body>
{% block title %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
</body>
<footer>
</footer>
</html>
