{% extends 'PlatformBundle::layout.html.twig' %}
{% block headbar %}
    <div class="headbar">
        <a href="javascript:history.back()" class="back"><</a>
        Modifier le profil
    </div>
{% endblock %}
{% block link %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="lien-editprofil">
            <a href="{{ path('admin_users') }}">Gestion des membres </a>
        </div>
    {% elseif is_granted('ROLE_PAR') %}
        <div class="lien-editprofil">
            <a href="{{ path('user_pending') }}">
                {% if is_granted('ROLE_PRO') %}
                    Accéder aux propositions
                {% else %}
                    Propositions en attente
                {% endif %}
            </a>
        </div>
    {% endif %}
    <div class="deconnexion">
        <a href="{{ path('security_logout') }}">Se déconnecter</a>
    </div>
{% endblock %}
{% block content %}
    <div class="border border-left col-md-8">
        <div class="row form-edit-user">
            <div class="identite">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_row(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email, {
                        'label' : false,
                        'attr': {'placeholder': 'Email', 'autocomplete' : "off"}
                    }) }}
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.first, {
                        'label' : false,
                        'attr': {'placeholder': 'Mot de passe', 'autocomplete' : "off"}
                    }) }}
                    {{ form_row(form.plainPassword.first) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.second, {
                        'label' : false,
                        'attr': {'placeholder': 'répétez le mot de passe', 'autocomplete' : "off"}

                    }) }}
                    {{ form_row(form.plainPassword.second) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.postalCode, {
                        'required': false
                    }) }}
                    {{ form_errors(form.postalCode) }}
                </div>

            </div>
        </div>
                <div class="ajouter-membre center">
                    <div class="pagination">
                        <button type="submit" class="submit-membre">Valider</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
{% endblock %}