{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>{{ user.firstname }}</p>
        <p>{{ user.lastname }}</p>
    </div>
    <div>
        <a href="{{ path('user_edit') }}">Modifier mon profil</a>
    </div>
    <h1>Historique des observations</h1>
    <div>
        <ul>
            {% for observation in observations %}
                <li><a href="{{ path('observation_view', {'id' : observation.id}) }}">{{ observation.oiseau.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}