{% extends 'PlatformBundle::layout.html.twig' %}
{% block headbar %}
    <h1 class="hidden-xs">Historique des observations</h1>
{% endblock %}

{% block content %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=397422067309390";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <ul>
        {% for observation in observations %}
            <li><a href="{{ path('observation_view', {'id' : observation.id}) }}">{{ observation.oiseau.name }}</a>
                <!-- Your share button code -->
                <div id="{{ observation.id }}" class="btn btn-primary clearfix">Partager</div>
                <script>
                    document.getElementById('{{ observation.id }}').onclick = function() {
                        FB.ui({
                            method: 'share',
                            display: 'popup',
                            href: "http://dahu-concept.com/matuvu/oiseau/{{ observation.oiseau.slug }}",
                            quote: "J'ai observé un {{ observation.oiseau.name }}. Toi aussi, partage tes observations d’oiseaux pour aider un programme de protection de la nature ! Rejoins-nous sur le site Matuvu.org",
                            mobile_iframe: true
                        }, function(response){});
                    }
                </script>
            </li>
        {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(observations) }}
    </div>

{% endblock %}