{% extends 'PlatformBundle::layout.html.twig' %}
{% block headbar %}
    <p>Détail de l'observation</p>
{% endblock %}

{% block content %}
    <div>
        <p>{{ oiseau.scientificName }}</p>
        <p>{{ oiseau.name }}</p>
        <p>({{ oiseau.ordre }}, {{ observation.oiseau.family }})</p>
        <p>Observé le {{ observation.date | date("d/m/Y")}}</p>
        <p>lat: {{ observation.latitude }}</p>
        <p>long: {{ observation.longitude }}</p>
        {% if observation.imageName != NULL %}
        <img src="{{ asset('/images/observations/') }}{{ observation.imageName }}" alt="{{ observation.oiseau.name }}"/>
            {% else %}
                <img src="{{ (asset('images/photo.jpg')) }}" alt="Photo"/>
        {% endif %}
    </div>
    {% if is_granted('ROLE_PRO') and observation.validated == 0%}
        {% include 'PlatformBundle::validation.html.twig' with {'id': observation} %}
    {% endif %}
    <div>
        <p><a href="">Précédent</a></p>
        <p><a href="">Suivant</a></p>
    </div>

{% endblock %}