{% extends 'PlatformBundle::layout.html.twig' %}
{% block content %}
    <div class="border border-left center col-md-8">
        <div class="row">
            <div class="center col-md-12">{% if is_granted('ROLE_ADMIN') %}
                    <img class="image-profil" alt="admin" src="{{ asset('images/profils/admin.png') }}"/>
                {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_PRO') %}
                        <img class="image-profil" src="{{ asset('images/profils/naturaliste.png') }}"
                             alt="Image du profil naturaliste"/>
                    {% elseif is_granted('ROLE_PAR') %}
                        {% if app.user.observationsNumber < 10 %}
                            <img class="image-profil" src="{{ asset('images/profils/consultant.png') }}"
                                 alt="Image du profil particulier"/>
                        {% elseif app.user.observationsNumber >= 10 and app.user.observationsNumber < 50 %}
                            <img class="image-profil" src="{{ asset('images/profils/petit_roi.png') }}"
                                 alt="Image du profil particulier"/>
                        {% else %}
                            <img class="image-profil" src="{{ asset('images/profils/grand_roi.png') }}"
                                 alt="Image du profil particulier"/>
                        {% endif %}
                    {% endif %}
                {% endif %}</div>

            <div class="col-md-12">
                {% if is_granted('ROLE_ADMIN') == false %}
                    <div class="center"><p>Nombre d'observations :</p></div>
                    <div class="center"><a href="{{ path('user_observations') }}">{{ observations | length }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                if (window.matchMedia("(max-device-width: 992px)").matches) {
                    $(".left").removeClass("left");
                    $(".left").adddClass("view");

                } else {
                    $(".left").show();
                }
            });
        </script>
    </div>
{% endblock %}