<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Matuvu</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        
        <link rel=stylesheet type="text/css" href="{{asset('Resources/css/main.css')}}"/>
        <link rel=stylesheet type="text/css" href="{{asset('Resources/css/admin.css')}}"/>
    </head>
    <body>
        <header class="flexbox">
            <div class="flexbox-col-1 hidden-xs">
                <a href="{{ path('homepage') }}"><img id="consultant" alt="logo" src="{{asset('Resources/images/logo.png')}}"/></a>
            </div>
            <div id="header-title" class="flexbox-col-10 hidden-xs">
                <p>Matuvu</p>
            </div>
            <div id="header-consultant" class="flexbox-col-1 hidden-xs">
                <img id="consultant" alt="consultant" src="{{asset('Resources/images/consultant.png')}}"/>
            </div>
        </header>

        <h1 class="hidden-xs">
            Gestion des membres 
        </h1>
        
            <div class="hidden-lg hidden-md hidden-sm">
                <a><h1 id="bandeau_tel_admin_users" >< Liste des membres</h1></a>  
            </div>
        <div class="content container">
            <div id="admin" class="flexbox">
                <div id="admin-data" class=" flexbox-col-2 flexbox-col hidden-xs">
                    <div class="element" id="identité">
                        <p class="text-center">Nom</p>
                        <p class="text-center">Prénom</p>

                    </div>
                    <div class="button-bg element" id="gestion">                        

                        <a href="{{ path('user_add') }}">Ajouter un membre </a>                       
                    </div>
                    <div class="button-bg element" id="déconnection">                        

                        <a href="{{ path('logout') }}">Se déconnecter</a>                     
                    </div>                
                </div>



                <div id="users" class="flexbox-col-10 flexbox-col flexgrow">
                    <div>
                        <p> Philippe Poutou, naturaliste</p>
                        <p>Lorem Ipsum, membre</p>
                        <p>....</p>
                    </div>
                        <div class="ajouter_membre element hidden-lg hidden-md hidden-sm text-center ">                        

                        <a href="{{ path('user_add') }}">Ajouter un membre</a>                       
                       </div>
                        <div id="precSuivante"class="button-bg flexbox flexbetween ">
                            <a>
                                Page précédente  
                            </a>
                            <a>
                                Page suivante  
                            </a>
                        </div>
                    
                </div>


                {#<div id="data" class="flexbox flexbox-col-12 flexbox-col">
                    <div class="element" id="identité2">
                        <p class="text-center">Nom</p>
                        <p class="text-center">Prénom</p>
                        
                    </div>
                    <div class="button-bg element" id="gestion2">                        
                                                                                      
                                <a href="{{ path('user_add') }}">Gestion des membres </a>                       
                    </div>
                    <div class="button-bg element" id="déconnection2">                        
                                                 
                                <a href="{{ path('logout') }}">Se déconnecter</a>                     
                    </div>
                </div>#}
            </div>
        </div>
                <footer class="hidden-xs flex-col-12">
                    <p> <a id="conditions" href="{{ path('conditions') }}">Conditions d'utilisation</a> - <a href="#">Un site NAO</a></p>
                </footer>
            
                {% block javascripts %}

                    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
                    <!-- Latest compiled and minified JavaScript -->
                    <script 
                        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                        crossorigin="anonymous">
                    </script>
                {% endblock %}                
                </body>
                </html>


