<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Matuvu</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel=stylesheet type="text/css" href="{{asset('Resources/css/user_edit.css')}}"/>
        <link rel=stylesheet type="text/css" href="{{asset('Resources/css/main.css')}}"/>
    </head>
    <body>
        <header class="flexbox">
            <div class="flexbox-col-1 hidden-xs">
                <a href="{{ path('homepage') }}"><img id="consultant" alt="logo" src="{{asset('Resources/images/logo.png')}}"/></a>
            </div>
            <div id="header-title" class="flexbox-col-10 hidden-xs">
                <p>Matuvu</p>
            </div>
            <div id="header-consultant" class="flexbox-col-1 hidden-xs">
                <img id="consultant" alt="consultant" src="{{asset('Resources/images/consultant.png')}}"/>
            </div>
        </header>

        <h1>
          Ajouter un membre  
        </h1>
              

        <div class="content container">
            <div id="user_edit" class="flexbox">
                <div id="user_edit_data" class="flexbox flexbox-col-2 flexbox-col hidden-xs">
                    <div class="element flexgrow">
                        <p class="text-center">Nom</p>
                        <p class="text-center">Prénom</p>
                        
                    </div>
                    <div class="button-bg element flexgrow" id="gestion">                        
                                                                                      
                                <a href="{{ path('admin_users') }}">Gestion des membres </a>                       
                    </div>
                    <div class="button-bg element flexgrow" id="deconnection">                        
                                                 
                                <a href="{{ path('logout') }}">Se déconnecter</a>                     
                    </div>                
                </div>
                    
                    
                    
                <div id="admin-img" class="flexbox-col-10">
                  <div id="user_edit_form" class=" user_add_col flexbox flexbox-col">

                    
                        
                        
                        
                        
                        
                        <form method="POST">
                            <div id="formember" class="flexbox">
                                
                                <p class="flexgrow margin-top"><label for="statut">Statut </label><select name="statut" id="statut">
                                <option value="naturaliste">naturaliste</option>
                                <option value="amateur">membre</option>
                            </select></p>
                        

                        
                                <div class="flexgrow margin-top">
                            <p><label for="nom"> Nom</label><input type="text" name="nom" id="nom"></p>
                            
                            <p><label for="prénom">Prénom</label><input type="text" name="prénom" id="prénom"></p>
                            
                            <p><label for="email">Email</label><input type="email" name="email" id="email"></p>
                            
                            <p><label for="codePostal">Code postal</label><input type="text" name="codePostal" id="codePostal"></p>
                            
                            <p><label for="mdp">Password</label><input type="password" name="codePostal" id="mdp"></p>
                                </div>
                            </div>
                            
                        <input id="valider1" class="text-center button-valid button-bg" type="submit" value="Valider">
                        
                        </form>

                </div>  
            </div>
        </div>
        </div>
                
                
                

        <footer class="hidden-xs">
            <a id="conditions" href="{{ path('conditions') }}">Conditions d'utilisation</a> - <a href="#">Un site NAO</a>
        </footer>

{% block javascripts %}
    
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script 
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                crossorigin="anonymous">                   
        </script>
{% endblock %}                
    </body>
</html>


