{% extends '::base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            width: 50%;
            height: 50%;
        }
    </style>
    <div id="map"></div>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 12,
                gestureHandling: 'greedy'
            });

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos);

                    var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        draggable:true
                    });
                    marker.addListener('drag', handleEvent);
                    function handleEvent(event) {
                        $('#observation_latitude').val(marker.getPosition().lat());
                        $('#observation_longitude').val(marker.getPosition().lng());
                    }
                    $('#observation_latitude').val(marker.getPosition().lat());
                    $('#observation_longitude').val(marker.getPosition().lng());
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt7VwEscGooLy4phojAgSl10zXpWUi9Z4&signed_in=true&callback=initMap"
            async defer>
    </script>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.date) }}
    {{ form_widget(form.latitude) }}
    {{ form_widget(form.longitude) }}
    {{ form_widget(form.imageFile) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}