{% extends '::base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            width: 50%;
            height: 50%;
        }
    </style>
    <p>{{ oiseau.scientificName }}</p>
    <p>{{ oiseau.name }}</p>
    <p>{{ oiseau.ordre }}</p>
    <p>{{ oiseau.family }}</p>

    <div id="map"></div>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                gestureHandling: 'greedy'
            });


            {% for observation in observations %}
            var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<div id="bodyContent">'+
                '<p>Observé le {{ observation.date | date('d/m/Y')}} <br/>par {{ observation.user.firstname }} {{ observation.user.lastname }}</p>'+
                '</div>'+
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                position: {lat: {{ observation.latitude }}, lng: {{ observation.longitude }}}
            });


            var cityCircle{{ observation.id }} = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: {lat: {{ observation.latitude }}, lng: {{ observation.longitude }}},
                radius: 10000
            });

            cityCircle{{ observation.id }}.addListener('click', function() {
                infowindow.open(map, cityCircle{{ observation.id }});
            });
            {% endfor %}

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq5V-pUDvNBdnyhFN_RRcVUeTXqMAioc0&signed_in=true&callback=initMap"></script>

    <a href="{{ path('observation_add', {'slug': oiseau.slug}) }}">Ajouter</a>
{% endblock %}